  <div class="item2"><p class="displaytxt">Display Room</p>
    <ul id="side-menu">
      <li id="room"><a href="accounting" class="<%= yield(:accounting_active) %>">Accounting</a></li>
      <li id="room"><a href="cs" class="<%= yield(:cs_active) %>">Customer Service</a></li>
      <li id="room"><a href="wh1" class="<%= yield(:wh1_active) %>">Education WH1</a></li>
      <li id="room"><a href="wh2" class="<%= yield(:wh2_active) %>">Education WH2</a></li>
      <li id="room"><a href="engineering" class="<%= yield(:engineering_active) %>">Engineering</a></li>
      <li id="room"><a href="facilities" class="<%= yield(:facilities_active) %>">Facilities</a></li>
      <li id="room"><a href="hr" class="<%= yield(:hr_active) %>">Human Resources</a></li>
      <li id="room"><a href="it" class="<%= yield(:it_active) %>">Information Technologies</a></li>
      <li id="room"><a href="planning" class="<%= yield(:planning_active) %>">Planning</a></li>
      <li id="room"><a href="production" class="<%= yield(:production_active) %>">Production</a></li>
    </ul>
  </div>
